.TVChartContainer {
  height: 100%;
  padding: 0.25rem;
  background-color: var(--clr-primary-dark);
  border-radius: 0.25rem;
}
.MTVChartContainer {
  height: 100%;
  padding: 0.25rem;
  background-color: #050c12;
  border-radius: 0.25rem;
}
