.icon {
  height: 1em;
  display: inline-block;
  fill: currentColor;
}

.icon-check {
  width: (24/24) * 1em;
  font-size: (24/16) * 1rem;
}

.icon-chevron-left {
  width: (24/24) * 1em;
  font-size: (24/16) * 1rem;
}

.icon-chevron-right {
  width: (24/24) * 1em;
  font-size: (24/16) * 1rem;
}

.icon-close {
  width: (24/24) * 1em;
  font-size: (24/16) * 1rem;
}

.icon-expand-down {
  width: (24/24) * 1em;
  font-size: (24/16) * 1rem;
}

.icon-expand-up {
  width: (24/24) * 1em;
  font-size: (24/16) * 1rem;
}

.icon-global-presence {
  width: (48/48) * 1em;
  font-size: (48/16) * 1rem;
}

.icon-logo {
  width: (221.1/93.54) * 1em;
  font-size: (93.54/16) * 1rem;
}

.icon-menu {
  width: (24/24) * 1em;
  font-size: (24/16) * 1rem;
}

.icon-security {
  width: (48/48) * 1em;
  font-size: (48/16) * 1rem;
}

.icon-service {
  width: (48/48) * 1em;
  font-size: (48/16) * 1rem;
}
